.heightAdjustFormElements{
 	height: 80px;
}
.imagePreviewStyles{
	width : 145px;
}
.styleFileUpload{
	height: 40px;
}
.formElementsButtonStyles{
	height: 15px;
	margin-top: 5%;
}
.heightFormElements{
	height: 95px;
}