/** 
    Divider component from antd stylings 
    with minor modifications
**/
.ant-divider-horizontal.ant-divider-with-text {
  display: table;
  white-space: nowrap;
  text-align: center;
  background: transparent;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.85);
  font-size: 16px;
  margin: 16px 0;
  width: 100%;
}
.ant-divider-horizontal {
  display: block;
  height: 1px;
  width: 100%;
  margin: 24px 0;
}
.ant-divider, .ant-divider-vertical {
  display: inline-block;
  height: 1px;
  width: 1px;
  vertical-align: middle;
  position: relative;
  top: -0.06em;
  width: 100%;
}
.ant-divider-inner-text {
  display: inline-block;
  padding: 0 24px;
}
.ant-divider-horizontal.ant-divider-with-text {
  display: table;
  white-space: nowrap;
  text-align: center;
  background: transparent;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.85);
  font-size: 16px;
  margin: 16px 0;
}
.ant-divider-horizontal.ant-divider-with-text {
  display: table;
  white-space: nowrap;
  text-align: center;
  background: transparent;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.85);
  font-size: 16px;
  margin: 16px 0;
}
.ant-divider-horizontal.ant-divider-with-text:before, .ant-divider-horizontal.ant-divider-with-text:after {
  content: '';
  display: table-cell;
  position: relative;
  top: 0px;
  width: 50%;
  border-top: 1px solid #e8e8e8;
  -webkit-transform: translateY(50%);
  -ms-transform: translateY(50%);
  transform: translateY(50%);
}
.ant-divider-horizontal.ant-divider-with-text:before, .ant-divider-horizontal.ant-divider-with-text:after {
  content: '';
  display: table-cell;
  position: relative;
  top: 0px;
  width: 50%;
  border-top: 1px solid #e8e8e8;
  -webkit-transform: translateY(50%);
  -ms-transform: translateY(50%);
  transform: translateY(50%);
}